<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Error</h1>
<% if (errors.email) { %>
    <p><%= errors.email %></p>
<% } %>
<a href="/register">Go Back</a>
</body>
</html>
