<!DOCTYPE html>
<html>
<head>
    <title>Search File</title>
</head>
<body>
<h1>Search for a File</h1>
<form action="/perform-search" method="post">
    <label for="filename">Filename:</label><br>
    <input type="text" id="filename" name="filename" required><br>
    <input type="submit" value="Search">
</form>
</body>
</html>
